name: Deploy Falco

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/deploy.yaml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup kubectl & helm
      uses: azure/setup-helm@v3

    - name: Deploy to Minikube
      uses: medyagh/setup-minikube@master
      
    - name: Deploy Falco
      run: | 
        kubectl get pods -A
        helm repo add falcosecurity https://falcosecurity.github.io/charts
        helm repo update  
        helm install --replace falco --namespace falco --create-namespace --set tty=true falcosecurity/falco
        kubectl get pods -n falco
        kubectl wait pods --for=condition=Ready --all -n falco

    - name: Trigger Rules
      run: |
        kubectl create deployment nginx --image=nginx
        kubectl wait deployment nginx --for condition=Available=True
        kubectl logs -l app.kubernetes.io/name=falco -n falco -c falco | grep Warning

